@model PagedList.IPagedList<WeatherApp.Models.HistoryModels.HistoryViewModel>
@using System.Globalization
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Історія перегляду прогнозу погоди";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h2>Історія перегляду прогнозу погоди</h2>
</div>
<div class="container">
    <form class="form-inline" role="form">
        <div class="form-horizontal">
            @using (Html.BeginForm("Index", "History", FormMethod.Get))
            {
                @Html.TextBox("search", "", new { @class = "form-control", placeholder = "Назва міста" })
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Пошук</button>
            }
        </div>
    </form>
</div>
<br />
<div class="table col-md-12">
    <table class="table table-hover table-striped">
        <tr>
            <th colspan="4" style="background-color: white"></th>
            <th colspan="4" class="text-center">Температура повітря &deg;C</th>
            <th colspan="5" style="background-color: white"></th>
        </tr>
        <tr class="text-center">
            <th class="text-center">Місто</th>
            <th class="text-center">Дата</th>
            <th></th>
            <th></th>
            <th class="text-center">Ранок</th>
            <th class="text-center">День</th>
            <th class="text-center">Вечір</th>
            <th class="text-center">Ніч</th>
            <th class="text-center">Атмосферний тиск, гПа</th>
            <th class="text-center">Вологість повітря, %</th>
            <th class="text-center">Швидкість вітру, м/с</th>
            <th class="text-center">Хмарність, %</th>
            <th class="text-center">Кількість опадів, мм</th>
        </tr>
        @foreach (var b in Model.GroupBy(m => m.CityHistory).Select(g => g.First()))
        {
            <tr>
                <td class="text-center">@b.CityHistory.CityName</td>
                <td class="text-center">
                    @{
                        var fromUnixTimestamp = new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc);
                        fromUnixTimestamp = fromUnixTimestamp.AddSeconds(b.WeatherHistory.Date).ToLocalTime();
                        var newDate = fromUnixTimestamp.ToString(CultureInfo.InvariantCulture);
                    }
                    @newDate
                </td>
                <td><img src="~/Images/@(b.WeatherHistory.WeatherIcon).png" height="60" width="60" /></td>
                <td class="text-center">@b.WeatherHistory.Description</td>
                <td class="text-center">@b.WeatherHistory.MorningTemp</td>
                <td class="text-center">@b.WeatherHistory.DayTemp</td>
                <td class="text-center">@b.WeatherHistory.EveningTemp</td>
                <td class="text-center">@b.WeatherHistory.NightTemp</td>
                <td class="text-center">@b.WeatherHistory.Pressure</td>
                <td class="text-center">@b.WeatherHistory.Humidity</td>
                <td class="text-center">@b.WeatherHistory.Speed</td>
                <td class="text-center">@b.WeatherHistory.Clouds</td>
                <td class="text-center">@b.WeatherHistory.Rain</td>
            </tr>
                        }
    </table>
    Сторінка @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) з @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
<div class="container">
    <div class="row">
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-cloud"></span>@Html.ActionLink(" Погода", "Index", "Weather")</button>
    </div>
</div>