@model WeatherApp.Models.SelectedCity
@{
    ViewBag.Title = "Додати нове місто";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h2>Додати нове місто</h2>
</div>
<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group form-inline">
                <div class="col-md-10">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Назва міста" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-5 ">
                <button type="submit" class="btn btn-primary">Додати</button>
            </div>
        </div>
    }
</div>
<hr />
<div>
    <button type="button" class="btn btn-default btn-md"><span class="glyphicon glyphicon-arrow-left">@Html.ActionLink(" Назад", "Index")</span></button>
</div>




