@model PagedList.IPagedList<WeatherApp.Models.SelectedCity>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Обрані міста";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h2>Обрані міста</h2>
</div>
<div class="container">
    <div class="row">
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>@Html.ActionLink(" Додати", "Create", "City")</button>
    </div>
</div>
<br />
<div class="container">
    <form class="form-inline" role="form">
        <div class="form-horizontal">
            @using (Html.BeginForm("Index", "City", FormMethod.Get))
            {
                @Html.TextBox("search", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Назва міста" })
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Пошук</button>
            }
        </div>
    </form>
</div>
<br />
<div class="table col-md-7">
    <table class="table table-hover table-striped">
        <tr>
            <th>Назва міста</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach (WeatherApp.Models.SelectedCity b in Model)
        {
            <tr>
                <td class="col-md-3">@b.Name</td>
                <td class="col-md-1"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>@Html.ActionLink(" Редагувати", "Edit", new { id = b.CityId })</button></td>
                <td class="col-md-1"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>@Html.ActionLink(" Видалити", "Delete", new { id = b.CityId })</button></td>
                <td class="col-md-7"></td>
            </tr>
        }
    </table>
    Сторінка @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) з @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
<br />
<div class="container">
    <div class="row">
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-cloud"></span>@Html.ActionLink(" Погода", "Index", "Weather")</button>
    </div>
</div>